/*
 * at91-kafa.dts - Device Tree file for Sperry-Sun KAFA boar
 *
 * Copyright (C) 2013 Jean-Christophe PLAGNIOL-VILLARD <plagnioj@jcrosoft.com>
 *
 * Licensed under GPLv2 only
 */
/dts-v1/;
#include "at91rm9200_pqfp.dtsi"

/ {
	model = "Sperry-Sun KAFA board";
	compatible = "sperry,kafa", "atmel,at91rm9200-pqfp", "atmel,at91rm9200";

	memory {
		reg = <0x20000000 0x4000000>;
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		main_clock: clock@0 {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			dbgu: serial@fffff200 {
				status = "okay";
			};

			usart0: serial@fffc0000 {
				pinctrl-0 =
						<&pinctrl_uart0
						 &pinctrl_uart0_rts
						 &pinctrl_uart0_cts>;
				status = "okay";
			};

			macb0: ethernet@fffbc000 {
				phy-mode = "rmii";
				status = "okay";
			};

			usb1: gadget@fffb0000 {
				atmel,vbus-gpio = <&pioB 6 GPIO_ACTIVE_HIGH>;
				atmel,pullup-gpio = <&pioB 7 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			spi0: spi@fffe0000 {
				status = "okay";
			};
		};

		usb0: ohci@00300000 {
			num-ports = <1>;
			status = "okay";
		};
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			gpios = <&pioB 4 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	i2c@0 {
		status = "okay";
	};
};
