/*
 * at91rm9200ek.dts - Device Tree file for Atmel AT91RM9200 evaluation kit
 *
 *  Copyright (C) 2012 Joachim Eastwood <manabian@gmail.com>
 *
 * Licensed under GPLv2 only
 */
/dts-v1/;
#include "at91rm9200.dtsi"

/ {
	model = "Atmel AT91RM9200 evaluation kit";
	compatible = "atmel,at91rm9200ek", "atmel,at91rm9200";

	memory {
		reg = <0x20000000 0x4000000>;
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		main_clock: clock@0 {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			pinctrl@fffff400 {
				usb1 {
					pinctrl_usb1_vbus: usb1_vbus-0 {
						atmel,pins = <AT91_PIOD 4 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

					pinctrl_usb1_pullup: usb1_pullup-0 {
						atmel,pins = <AT91_PIOD 5 AT91_PERIPH_GPIO AT91_PINCTRL_MULTI_DRIVE>;
					};
				};

				mmc0 {
					pinctrl_mmc0_slot0_detect: mmc0_slot0_detect-0 {
						atmel,pins =
							<AT91_PIOB 27 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
					};

					pinctrl_mmc0_slot0_write_protect: mmc0_slot0_write_protect-0 {
						atmel,pins =
							<AT91_PIOA 17 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
					};

					pinctrl_mmc0_slot0_switch: mmc0_slot0_switch-0 {
						atmel,pins =
							<AT91_PIOB 22 AT91_PERIPH_GPIO (AT91_PINCTRL_OUTPUT | AT91_PINCTRL_OUTPUT_VAL(1))>;
					};
				};

				spi0 {
					pinctrl_spi0_cs3_switch: spi0_cs3_switch-0 {
						atmel,pins =
							<AT91_PIOB 22 AT91_PERIPH_GPIO (AT91_PINCTRL_OUTPUT | AT91_PINCTRL_OUTPUT_VAL(0))>;
					};
				};
			};

			dbgu: serial@fffff200 {
				status = "okay";
			};

			usart1: serial@fffc4000 {
				pinctrl-0 =
						<&pinctrl_uart1
						 &pinctrl_uart1_rts
						 &pinctrl_uart1_cts
						 &pinctrl_uart1_dtr_dsr
						 &pinctrl_uart1_dcd
						 &pinctrl_uart1_ri>;
				status = "okay";
			};

			macb0: ethernet@fffbc000 {
				phy-mode = "rmii";
				status = "okay";

				phy0: ethernet-phy {
					interrupt-parent = <&pioC>;
					interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
				};
			};

			usb1: gadget@fffb0000 {
				atmel,vbus-gpio = <&pioD 4 GPIO_ACTIVE_HIGH>;
				atmel,pullup-gpio = <&pioD 5 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usb1_vbus
					     &pinctrl_usb1_pullup>;
				status = "okay";
			};

			spi0: spi@fffe0000 {
				status = "okay";
				cs-gpios = <&pioA 3 0>, <0>, <0>, <0>;
				mtd_dataflash@0 {
					compatible = "atmel,at45", "atmel,dataflash";
					spi-max-frequency = <15000000>;
					reg = <0>;
				};
			};

			mmc0: mmc@fffb4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				pinctrl-0 = <&pinctrl_mmc0_clk
					     &pinctrl_mmc0_slot0_cmd_dat0
					     &pinctrl_mmc0_slot0_dat1_3
					     &pinctrl_mmc0_slot0_detect
					     &pinctrl_mmc0_slot0_write_protect
					     &pinctrl_mmc0_slot0_switch>;

				slot0: slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioB 27 GPIO_ACTIVE_HIGH>;
					wp-gpios = <&pioA 17 GPIO_ACTIVE_HIGH>;
				};
			};

			spi0: spi@fffe0000 {
				pinctrl-0 = <&pinctrl_spi0 &pinctrl_spi0_cs0>;
				cs-gpios = <&pioA 3 GPIO_ACTIVE_HIGH>, <0>,
					   <0>, <0>;
				status = "okay";

				mtd_dataflash@0 {
					compatible = "atmel,at45", "atmel,dataflash";
					spi-max-frequency = <15000000>;
					reg = <0>;
				};
			};
		};

		usb0: ohci@00300000 {
			num-ports = <2>;
			status = "okay";
		};
	};

	i2c@0 {
		status = "okay";

		ics1523@26 {
			reg = <0x26>;
		};

		dac3550@4d {
			reg = <0x4d>;
		};
	};

	leds {
		compatible = "gpio-leds";

		ds2 {
			label = "green";
			gpios = <&pioB 0 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mmc0";
		};

		ds4 {
			label = "yellow";
			gpios = <&pioB 1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		ds6 {
			label = "red";
			gpios = <&pioB 2 GPIO_ACTIVE_LOW>;
		};
	};
};
